/* 
  CSS styles inspired by the 'alert' class from twitter bootstrap. 

  As we didn't want to conclift with Bootstrap it's all granted it's own namespace.
*/

.sorry-announcement {
  background-color:#ff7b29;
  color:#FFF;
  padding: 20px 30px; 
  border: 1px solid transparent;
  padding-right: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Switch to open sans if possible? */
  font-size:16px;
}

a.sorry-announcement-link {
  color:#FFF;
  opacity:0.75;
}

a.sorry-announcement-link:hover,
a.sorry-announcement-link:focus {
  opacity:1;
}

.sorry-announcement .sorry-announcement-close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.sorry-announcement .sorry-announcement-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-shadow: 0 1px 0 #333333;
  opacity: 0.5;
  filter: alpha(opacity=20);
}

.sorry-announcement .sorry-announcement-close:hover,
.sorry-announcement .sorry-announcement-close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
  filter: alpha(opacity=50);
}

.sorry-announcement button.sorry-announcement-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}