/* 
  CSS styles inspired by the 'alert' class from twitter bootstrap. 

  As we didn't want to conclift with Bootstrap it's all granted it's own namespace.
*/

@import url(//fonts.googleapis.com/css?family=Open+Sans:400);

.sorry-status-bar {
  background-color:#ff7b29;
  color:#FFF;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Switch to open sans if possible? */
  font-size:16px;
  font-weight:300;
}

.sorry-status-notice {
  padding:10px 30px;
}

.sorry-status-notice:first-child {
  padding-top:20px;
}

.sorry-status-notice:last-child {
  padding-bottom:20px;
}

span.sorry-status-notice-text {
  margin-right:15px; /* Space it away from the link to the page. */
}

a.sorry-status-notice-link {
  color:#FFF;
  opacity:0.90;
}

a.sorry-status-notice-link:hover,
a.sorry-status-notice-link:focus {
  opacity:1;
}

.sorry-status-notice .sorry-status-notice-close {
  position: relative;
  top: -2px;
  right: -10px;
  color: inherit;
}

.sorry-status-notice .sorry-status-notice-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-shadow: 0 1px 0 #333333;
  opacity: 0.5;
  filter: alpha(opacity=20);
}

.sorry-status-notice .sorry-status-notice-close:hover,
.sorry-status-notice .sorry-status-notice-close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
  filter: alpha(opacity=50);
}

.sorry-status-notice button.sorry-status-notice-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}